footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30vh;
}
footer nav a {
  margin: 10px;
  font-size: 25px;
}

@media (max-width: 768px) {
  footer {
    font-size: 14px;
  }
}
